[Unit]

Description=heimdalld for {{ network_suffix }}
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]

WorkingDirectory=/home/ubuntu
User=ubuntu
ExecStart=/usr/bin/heimdalld start --home "/home/ubuntu/.heimdall_{{ network_suffix }}" \
--chain={{ 'mainnet' if is_mainnet | bool else 'mumbai' }} \
--rest-server \
--laddr "tcp://0.0.0.0:{{ heimdall_rest_server_port }}" \
--grpc-addr "0.0.0.0:{{ heimdall_grpc_port }}"
LimitNOFILE=65536
Restart=always
RestartSec=5s

[Install]

WantedBy=multi-user.target
